body{
    background-color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
}
.block{
    width: 240px;
    height: 170px;
    background-color: #DCE9EF;
    margin-bottom: 30px;
    border: 2px solid #4B8EA9;
    border-radius: 10px;
    margin-left: 30px;
}
.block_date {
    float:right;
    padding-right: 6px;
}
.block_title{
    padding-left: 6px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.block_cont{
    padding-left: 6px;
}
.card {
    width: 680px;
    
    height: 300px;
    background-color: aliceblue;
   }

.card_block{
   position: relative;
   border: 1px solid #CBCBCB; 
   float: left; 
   width: 200px; 
   margin-left: 20px;
   background-color: white;
   display: flex;
}
a{
    text-decoration: none;
    color: black;
}
.card_name{
    font-size: 20px;
    padding-left: 15px;
}
.card_a{
    position: absolute;
    top: 68%;
    right: 7%;
    background-color: #4D88EF;
    padding: 6px 6px 4px;
    
    border-radius: 50%;
}
